In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.getOrCreate()

23/10/08 15:01:42 WARN Utils: Your hostname, rohan-NS14A8 resolves to a loopback address: 127.0.1.1; using 192.168.193.194 instead (on interface wlp1s0)
23/10/08 15:01:42 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/10/08 15:01:43 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/10/08 15:01:44 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
df2=spark.read.csv('/home/rohan/Desktop/DE-Operation/csv-files/student_data.csv', header=True, inferSchema=True)

In [4]:
df2.show(2)

+----------+------------+-------------+--------------------+-----------------+---------------------------+----------------+----------------+------+----------------+
|Student ID|Student Name|Date of Birth|      Field of Study|Year of Admission|Expected Year of Graduation|Current Semester|  Specialization|  Fees|Discount on Fees|
+----------+------------+-------------+--------------------+-----------------+---------------------------+----------------+----------------+------+----------------+
|    165527|Bryan Rogers|   2006-01-19|    Computer Science|             2020|                       2017|               3| Web Development|155152|           19572|
|    635763| James Hogan|   1999-05-23|Mechanical Engine...|             2020|                       2020|               2|Machine Learning|157870|           14760|
+----------+------------+-------------+--------------------+-----------------+---------------------------+----------------+----------------+------+----------------+
only showing top 2 rows

In [5]:
df2.createTempView('student_tb')

In [6]:
res=spark.sql("select * from student_tb limit 2")
res.show()

+----------+------------+-------------+--------------------+-----------------+---------------------------+----------------+----------------+------+----------------+
|Student ID|Student Name|Date of Birth|      Field of Study|Year of Admission|Expected Year of Graduation|Current Semester|  Specialization|  Fees|Discount on Fees|
+----------+------------+-------------+--------------------+-----------------+---------------------------+----------------+----------------+------+----------------+
|    165527|Bryan Rogers|   2006-01-19|    Computer Science|             2020|                       2017|               3| Web Development|155152|           19572|
|    635763| James Hogan|   1999-05-23|Mechanical Engine...|             2020|                       2020|               2|Machine Learning|157870|           14760|
+----------+------------+-------------+--------------------+-----------------+---------------------------+----------------+----------------+------+----------------+

In [ ]:
spark.stop()