In [1]:
from pyspark.sql import SparkSession

Data Frame create

#option1

In [2]:
spark=SparkSession.builder.getOrCreate()

fir_df=spark.read.format('csv') \
            .option("header","true") \
            .option("inferSchema","true") \
            .load("/home/rohan/Desktop/DE-Operation/csv-files/student_data.csv")

23/09/28 00:41:54 WARN Utils: Your hostname, rohan-NS14A8 resolves to a loopback address: 127.0.1.1; using 192.168.93.194 instead (on interface wlp1s0)
23/09/28 00:41:54 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/09/28 00:41:55 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
fir_df.show(2)

+----------+------------+-------------+--------------------+-----------------+---------------------------+----------------+----------------+------+----------------+
|Student ID|Student Name|Date of Birth|      Field of Study|Year of Admission|Expected Year of Graduation|Current Semester|  Specialization|  Fees|Discount on Fees|
+----------+------------+-------------+--------------------+-----------------+---------------------------+----------------+----------------+------+----------------+
|    165527|Bryan Rogers|   2006-01-19|    Computer Science|             2020|                       2017|               3| Web Development|155152|           19572|
|    635763| James Hogan|   1999-05-23|Mechanical Engine...|             2020|                       2020|               2|Machine Learning|157870|           14760|
+----------+------------+-------------+--------------------+-----------------+---------------------------+----------------+----------------+------+----------------+
only showing top 2 rows

#option2

In [4]:
df2=spark.read.csv('/home/rohan/Desktop/DE-Operation/csv-files/student_data.csv', header=True, inferSchema=True)

In [5]:
df2.show(5)

+----------+---------------+-------------+--------------------+-----------------+---------------------------+----------------+----------------+------+----------------+
|Student ID|   Student Name|Date of Birth|      Field of Study|Year of Admission|Expected Year of Graduation|Current Semester|  Specialization|  Fees|Discount on Fees|
+----------+---------------+-------------+--------------------+-----------------+---------------------------+----------------+----------------+------+----------------+
|    165527|   Bryan Rogers|   2006-01-19|    Computer Science|             2020|                       2017|               3| Web Development|155152|           19572|
|    635763|    James Hogan|   1999-05-23|Mechanical Engine...|             2020|                       2020|               2|Machine Learning|157870|           14760|
|    740021| David Robinson|   1997-12-02|   Civil Engineering|             2017|                       2022|               1|Network Security| 55662|            5871|
|    433076|   Susan Miller|   1999-10-30|    Computer Science|             2021|                       2019|               1|    Data Science|134955|           17284|
|    441628|Brittany Martin|   1998-01-10|Chemical Engineering|             2016|                       2018|               1|Network Security|125934|           14871|
+----------+---------------+-------------+--------------------+-----------------+---------------------------+----------------+----------------+------+----------------+
only showing top 5 rows

In [ ]:
#df2.count()
rdd =df2.toJSON()

In [14]:
display(df2)

DataFrame[Student ID: int, Student Name: string, Date of Birth: date, Field of Study: string, Year of Admission: int, Expected Year of Graduation: int, Current Semester: int, Specialization: string, Fees: int, Discount on Fees: int]

In [10]:
fir_df.createGlobalTempView("student1")