In [11]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

In [2]:
spark=SparkSession.builder.getOrCreate()

23/10/08 18:35:09 WARN Utils: Your hostname, rohan-NS14A8 resolves to a loopback address: 127.0.1.1; using 192.168.193.194 instead (on interface wlp1s0)
23/10/08 18:35:09 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/10/08 18:35:10 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
df=spark.read.csv('/home/rohan/Desktop/DE-Operation/csv-files/student_data.csv', header=True, inferSchema=True)

In [4]:
df.show(3)

+----------+--------------+-------------+--------------------+-----------------+---------------------------+----------------+----------------+------+----------------+
|Student ID|  Student Name|Date of Birth|      Field of Study|Year of Admission|Expected Year of Graduation|Current Semester|  Specialization|  Fees|Discount on Fees|
+----------+--------------+-------------+--------------------+-----------------+---------------------------+----------------+----------------+------+----------------+
|    165527|  Bryan Rogers|   2006-01-19|    Computer Science|             2020|                       2017|               3| Web Development|155152|           19572|
|    635763|   James Hogan|   1999-05-23|Mechanical Engine...|             2020|                       2020|               2|Machine Learning|157870|           14760|
|    740021|David Robinson|   1997-12-02|   Civil Engineering|             2017|                       2022|               1|Network Security| 55662|            5871|
+----------+--------------+-------------+--------------------+-----------------+---------------------------+----------------+----------------+------+----------------+
only showing top 3 rows

* Here is One Problem of blank space in columns

In [7]:
df1=df.withColumnRenamed("Student ID","StudentID")

--> let's fixed its problem.

In [8]:
df1.show(2)

+---------+------------+-------------+--------------------+-----------------+---------------------------+----------------+----------------+------+----------------+
|StudentID|Student Name|Date of Birth|      Field of Study|Year of Admission|Expected Year of Graduation|Current Semester|  Specialization|  Fees|Discount on Fees|
+---------+------------+-------------+--------------------+-----------------+---------------------------+----------------+----------------+------+----------------+
|   165527|Bryan Rogers|   2006-01-19|    Computer Science|             2020|                       2017|               3| Web Development|155152|           19572|
|   635763| James Hogan|   1999-05-23|Mechanical Engine...|             2020|                       2020|               2|Machine Learning|157870|           14760|
+---------+------------+-------------+--------------------+-----------------+---------------------------+----------------+----------------+------+----------------+
only showing top 2 rows

In [9]:
df.printSchema()

root
 |-- Student ID: integer (nullable = true)
 |-- Student Name: string (nullable = true)
 |-- Date of Birth: date (nullable = true)
 |-- Field of Study: string (nullable = true)
 |-- Year of Admission: integer (nullable = true)
 |-- Expected Year of Graduation: integer (nullable = true)
 |-- Current Semester: integer (nullable = true)
 |-- Specialization: string (nullable = true)
 |-- Fees: integer (nullable = true)
 |-- Discount on Fees: integer (nullable = true)

* I have also changed column data type (Transform)

In [14]:
df=df.withColumn("Student ID", col("Student ID").cast('String'))

In [15]:
df.printSchema()

root
 |-- Student ID: string (nullable = true)
 |-- Student Name: string (nullable = true)
 |-- Date of Birth: date (nullable = true)
 |-- Field of Study: string (nullable = true)
 |-- Year of Admission: integer (nullable = true)
 |-- Expected Year of Graduation: integer (nullable = true)
 |-- Current Semester: integer (nullable = true)
 |-- Specialization: string (nullable = true)
 |-- Fees: integer (nullable = true)
 |-- Discount on Fees: integer (nullable = true)